



<div class="bg-gradient-to-r from-red-500 to-blue-500 h-screen">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center">

                <div class="my-5">
                  <p>
  Blueback is about a young boy named Abel who becomes fascinated by a giant fish he sees every day.
</p>
<p>But the true themes of the story is family and home.</p>

<p>Winton uses a veriaty of writing techniques to convey these themes.</p>


                </div>

        <!-- <h1 class="text-lg font-bold text-center">Blueback by Tim Winton</h1> -->
        
        <a class="text-center" href="/blueback/technique1">
            <button class="rounded-lg  ml-3 px-5 py-2 bg-gradient-to-r from-red-500 to-purple-500">First Technique</button>
        </a>
    
        </div>
</div>


