


<div class="bg-gradient-to-r from-purple-500 to-red-500 h-screen">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
 
        <div class="flex flex-col">
            <p class="my-3">
            I chose Blueback as I had already read it in year 7,
            and Tim Winton is a favourite author in my family,
            (there is about 5 copies of Blueback in my house and Cloudstreet is my mum and nan's favourite book).
            </p>       
            <a class="text-center" href="/blueback/winton">
                        <button class=" rounded-lg px-5 py-2 bg-gradient-to-r from-green-500 to-blue-500">About the author</button>
                    </a>
        </div>


        
        </div>

</div>

