
<div class="bg-gradient-to-r from-cyan-500 to-blue-500 h-screen">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <h1 class="text-lg font-bold text-center">Blueback by Tim Winton</h1>
        
        <a href="/blueback/choice">
            <button class="rounded-lg px-5 py-2 bg-gradient-to-r from-red-500 to-purple">So why did I choose it?</button>
        </a>
        
        </div>

</div>

