<div class="bg-gradient-to-r from-purple-500 to-red-500 h-screen">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
 
      <div class="flex flex-col">
        <h1 class="text-center text-2xl font-bold">Paragraph written in style of Blueback</h1>
            <p>

Abel remembered his time in the country.
Surrounded by nature, not concrete.
Crickets made noise all night, a much nicer sound than the sirens and the screaming guy three houses down the street.
The grass was soft, and a blinding bright shade of green.
He was young and happy.
He'd often fall asleep while his mum tended to the bonfire.

</p>

   
            <a class="text-center" href="/blueback">
                        <button class=" rounded-lg px-5 py-2 bg-gradient-to-r from-green-500 to-blue-500">End</button>
                    </a>
        </div>


        
        </div>

</div>

