
<div class="bg-gradient-to-r from-red-500 to-blue-500 h-screen">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center">

                <div class="my-5">
<p>Winton uses similies all throughout Blueback.</p>
<p>"He was as big as a barrel" - p. 77.
    ""
</p>


                </div>

        <!-- <h1 class="text-lg font-bold text-center">Blueback by Tim Winton</h1> -->
        
        <a class="text-center" href="/blueback/technique3">
            <button class="rounded-lg  ml-3 px-5 py-2 bg-gradient-to-r from-green-500 to-blue-500">Third Technique</button>
        </a>
    
        </div>
</div>

