
<div class="bg-gradient-to-r from-cyan-500 to-blue-500 h-screen">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center">

                <div class="my-5">
<p>Winton personifies nature, animals and the environment.</p>
<p>"The big gills fanned.
     All its armoured scales rippled in lines of green and black blending into the dizziest blue.
     The groper moved without the slightest effort.
     It was magnificent; the most beautiful thing Abel had ever seen." Page 8</p>


                </div>

        <!-- <h1 class="text-lg font-bold text-center">Blueback by Tim Winton</h1> -->
        
        <a class="text-center" href="technique2">
            <button class="rounded-lg  ml-3 px-5 py-2 bg-gradient-to-r from-red-500 to-purple-500">Second Technique</button>
        </a>
    
        </div>
</div>

