
<div class="bg-gradient-to-r from-red-500 to-blue-500 h-screen">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center">

                <div class="my-5">
<p>Winton loves to use similies all throughout Blueback.</p>
<p>"He was as big as a barrel" - p. 77.
</p>
<p>He uses similes to with descriptive language to help paint a picture of the world, 
    its an environment and characters.</p>


                </div>

        <!-- <h1 class="text-lg font-bold text-center">Blueback by Tim Winton</h1> -->
        
        <!-- <a class="text-center" href="/blueback/technique3">
            <button class="rounded-lg  ml-3 px-5 py-2 bg-gradient-to-r from-green-500 to-blue-500">Third Technique</button>
        </a> -->
 <a class="text-center" href="/blueback/story">
            <button class="rounded-lg  ml-3 px-5 py-2 bg-gradient-to-r from-orange-500 to-green-500">Story in style of Blueback</button>
        </a>
    
        </div>
</div>

