<div class="bg-gradient-to-r from-cyan-500 to-blue-500 h-screen">
    <div class="flex items-center pt-10">
        <div class="ml-3">
            <p>Tim Winton is an Australian Author. He grew up in inner city Perth.
                He later moved out of the city to the country in coastal Western Australia.
                He is one of the most famous Australian authors, dubbed as the "Australian Romantic" for his unique descriptive style of the environment.
                Despite his popularity and received many awards he has been critised for his writing being "too pretentious" as well as preachy and sexist.
            </p>
        </div>
        
        <div class="w-full h-auto">
            <img src="/winton.png" />
            <p>Image by Denise Winton</p>
        </div>
   
    </div>
    
    <a class="text-center" href="/blueback/about">
        <button class="rounded-lg  ml-3 px-5 py-2 bg-gradient-to-r from-blue-500 to-orange-500">About Blueback</button>
    </a>
</div>