---
import { Image } from "astro:assets";
import loader from "../../../public/loader.gif"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>

    <title>HTMX Crash Course</title>
  </head>
  <body>
    <div class="text-center">
      <h1 class="text-2xl font-bold my-5">Simple Request Example</h1>
      <p>This uses HTMX and Hono to fetch users for a typicode api. Pretty pls don't ddos my api</p>
      <button
        hx-get="https://65bcd03cbeb63c6f195fb878--hono-api1.netlify.app/users"
        hx-target="#users"
        hx-indicator="#loading"
        hx-confirm="Are you sure you want to fetch users?"
        hx-indicator="#loading"
        class="bg-blue-500 text-white py-2 px-3 my-5 rounded-lg"
      >
        Fetch Users
      </button>

      <span class="htmx-indicator" id="loading">
        <Image src={loader} alt="" width="50" height="50" class="m-auto h-10" />
      </span>

      <div id="users"></div>
      <!--- get /users --->
    </div>
  </body>
</html>
